<template name="activityCreate">
    <form>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">活动标题</span>
            <input type="text" name="title" class="form-control" placeholder="例如 : 去吃饭" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">活动类型</span>
            <label class="form-control radio-inline" style="width:auto; margin-left:0; padding-left:30px;">
                <input type="radio" name="type" id="dinner" value="吃饭">吃饭
            </label>
            <label class="form-control radio-inline" style="width:auto; margin-left:0; padding-left:30px;">
                <input type="radio" name="type" id="sport" value="运动">运动
            </label>
            <label class="form-control radio-inline" style="width:auto; margin-left:0; padding-left:30px;">
                <input type="radio" name="type" id="picnic" value="出游">出游
            </label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">开始时间</span>
            <input type="date" name="time" class="form-control" placeholder="07/18/2015" aria-describedby="basic-addon3">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">活动地点</span>
            <input type="text" name="location" class="form-control" placeholder="例如 : 中山大学2饭堂" aria-describedby="basic-addon4">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon5">活动人数</span>
            <input type="number" name="max_number" class="form-control" placeholder="0" aria-describedby="basic-addon5">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon6">联系方式</span>
            <input type="text" name="contact_way" class="form-control" placeholder="填写电话号, 微信号" aria-describedby="basic-addon6">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon7">活动内容</span>
            <textarea type="text" name="detail" class="form-control" placeholder="例如 : 吃自助餐" aria-describedby="basic-addon7"></textarea>
        </div>
        <button type="submit" class="btn btn-default" style="width:50%; margin-left:25%; margint-right:25%;">创建活动</button>
    </form>
</template>